.header {
  /* Adjusted CSS */
  position: fixed;
  top: 0px;
  left: calc(50% - 8px);
  /* Adjusted for a fixed scrollbar width */
  transform: translateX(-50%);
  z-index: 200;
  width: calc(90% - 16px);
  height: min-content;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 24px 0px #c0c9ca40;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  &__widthWapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 90%;
  }
}

.part1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.header_logo {
  grid-area: logo;
  width: 140px;

  img {
    @extend %width-height-100;

  }
}

.frame15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  &__frame12 {
    position: relative;
    width: 385px;
    height: 43px;
    flex-direction: column;
    align-items: flex-start;
    outline: solid 1px #e9f4fa;
    outline-offset: -1px;
    border-radius: 35px;
    background-color: #fff;
    overflow: hidden;

    &__frame13 {
      position: absolute;
      left: 313px;
      top: 4px;
      width: 68px;
      height: 35px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 110px;
      background-color: #daf7f8;
      overflow: hidden;

      &__flowbiteSearchOutline {
        position: absolute;
        left: calc(50% - 0.5px);
        top: 50%;
        width: 21px;
        height: 21px;
        transform: translate(-50%, -50%);

        &__icon {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__search {
      color: #8498a1;
      font-size: 16px;
      position: absolute;
      left: 19px;
      top: calc(50% - 0.5px);
      width: min-content;
      height: min-content;
      text-align: center;
      align-items: center;
      white-space: nowrap;
      flex-direction: column;
      transform: translateY(-50%);
    }
  }

  &__becomeAMentor {
    color: #00b9bc;
    font-size: 16px;
    font-weight: 600;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }

  &__signUp {
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }

  &__frame4 {
    padding: 10px 30px;
    border-radius: 99999999px;
    background-color: #00b9bc;
    color: white;
    white-space: nowrap;
  }

  &__languageChangeButton {
    @include flex-row-ac;
    gap: 4px;
    background: transparent;

    &__language {
      color: #262626;
      white-space: nowrap;
    }

    &__arrow_down {
      width: 16px;
      height: 7px;
    }
  }
}

.frame18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__all {
    color: #262626;
    font-size: 15px;
    font-weight: 500;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }

  &__line {
    width: 1px;
    height: 15px;
    max-height: 100%;
    background: #8498a1;
  }

  &__frame14 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: transparent;

    &__more {
      color: #454444;
      font-size: 15px;
      font-weight: 500;
    }

    &__arrow {
      width: 16px;
    }
  }
}