/*>>>------------------SASS-------------------<<<*\
person_cards_1_pagePart (PersonCards1PagePart)
\*>>>--------------------------------------------<<<*/
.person_cards_1_pagePart {
  @include flex-row-jsb;
  grid-area: person_cards_1_pagePart;
  gap: 10px;
  position: relative;

  &__rectangle {
    position: absolute;
    top: 0;
    left: calc(0% + 150px);
    z-index: 1;
    width: 150px;
    height: 100%;
    transform-origin: top left;
    width: 150px;
    background-image: linear-gradient(90.9deg, #edf3f612 16%, #edf3f6ff 73%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    transform: scale(-1, 1);
  }

  &__rectangle:nth-last-of-type(1) {
    left: calc(100% - 150px);
    transform: scale(1, 1);
  }

  &__card {
    @include flex-col;
    gap: 20px;
    min-width: 368px;
    width: 100%;
    padding: 20px;
    border-radius: 7px;
    background-color: white;
    border: 1px solid rgb(236, 236, 236);
  }
}

.frame25 {
  @include flex-row;
  gap: 10px;

  &__rectangle1 {
    width: 100px;
    height: 100px;
    border-radius: 7px;
    // background-color: #c91111;
    overflow: hidden;

    img {
      @extend %width-height-100;
      object-fit: cover;
      object-position: center;
    }
  }

  &__frame24 {
    &__frame23 {
      @include flex-row-ac;
      gap: 4px;

      &__materialSymbolsLightVerified {
        width: 1rem;
      }
    }

    &__frame19 {
      @include flex-row-ac;
      gap: 4px;

      &__gameIconsGraduateCap {
        width: 1rem;
        margin-bottom: 4px;
      }

      &__frenchTutor {
        color: #636363;
        font-size: 13px;
        font-weight: 600;
        white-space: nowrap;
      }
    }

    &__seniorSoftwareEngineerAtGithub {
      color: #636363;
      font-size: 0.8rem;
    }
  }
}

.frame26 {
  @include flex-row;
  gap: 10px;

  &__frame1 {
    @include flex-row-ac;
    gap: 4px;

    &__solarStarBold {
      width: 1rem;
      margin-bottom: 2px;
    }
  }

  &__frame22 {
    @include flex-row;
    gap: 10px;

    &__frame12 {
      padding: 3px 10px;
      border-radius: 80px;
      background-color: #ececec;
      white-space: nowrap;

      &__googleCloud {
        color: #636363;
        font-size: 12px;
        font-weight: 500;
        width: 76px;
        height: 18px;
        flex-direction: column;
      }
    }
  }
}