/*>>>------------------SASS-------------------<<<*\
person_review_cards_1_pagePart
\*>>>-----------------------------------------<<<*/
.person_review_cards_1_pagePart {

    @include flex-col;
    gap: 50px;

    &__cards {
        display: grid;
        grid-template-columns: repeat(1, minmax(400px, 100%));
        gap: 10px;
    }

    &__card {
        @include flex-col;
        gap: 20px;
        padding: 20px;
        border-radius: 7px;
        background-color: white;
        border: 1px solid rgb(236, 236, 236);
    }
}

.frame25 {
    @include flex-row;
    gap: 20px;

    &__rectangle1 {
        min-width: 140px;
        height: 140px;
        border-radius: 7px;
        // background-color: #c91111;
        overflow: hidden;

        img {
            @extend %width-height-100;
            object-fit: cover;
            object-position: center;
        }
    }

    &__frame24 {
        @include flex-col;
        gap: 10px;
        width: 100%;

        &__frame23 {
            @include flex-row-jsb-ac;
            gap: 10px;


            &__name {
                @include flex-row-ac;
                gap: 10px;
            }

            &__tutor_name {
                font-size: 1.2rem;
                font-weight: 600;
                color: var(--black-1);
            }

            &__materialSymbolsLightVerified {
                width: 1.2rem;
                height: auto;
                margin-top: 5px;
            }

            &__cost {
                @include flex-row;
                gap: 4px;

                &__icon_cont {
                    width: 1rem;
                }
            }
        }

        &__frame19 {
            @include flex-row-ac;
            gap: 4px;

            &__frenchTutor {
                color: var(--ash-2);
                font-size: 1rem;
                white-space: nowrap;
            }
        }

        &__about_tutor {
            color: var(--black-2);
            font-size: 1rem;
        }
    }
}